<div class="row marketing">
  <h4>Tabadul Webtraining</h4>
  <p>
    Das interkulturelle Projekt Tabadul Webtraining schafft eine Online-Plattform, auf welcher komplexe Inhalte erworben werden können, die eine erfolgreiche Integration unterstützen: hierbei geht es sowohl um Sprachkenntnisse, als auch um kulturelles Wissen. Das Webtraining dient dem Selbstlernen und unterstützt gleichzeitig den Sprachunterricht. So erleichtert Tabadul Webtraining die Kommunikation zwischen Lehrenden und Lernenden und fördert ein aufeinander Zugehen. Damit machen wir einen ersten Schritt in Richtung eines kommunikativen Zusammenlebens. Denn: dieselbe Sprache zu sprechen, erleichtert ein verständnisvolles Miteinander!

    Um dies umzusetzen, brauchen wir noch Ihre Unterstützung!
  </p>
</div>
